@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    
    padding: 0px;
    margin: 0px;
}

.root {
    --fonte-header: 
    --fonte-text: 'Sriracha', cursive;
}

body {
    background-color: rgb(255, 255, 255);
    font-family:'Sriracha', cursive;
    min-height: 100vh;
}
header {
    background-color: black;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.header {
    text-align: center;
    color: white; 
    font-family: 'Passion One', cursive;
    font-size: 3em;    
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    

}

.subtitle {
    font-size: normal;
    text-align: center;
    color: white;
}




.bgbranco {
    background-color: white;
    height: 400px;
    width: 400px;


}

.transparente1 {
    height: ;
    width: 200px;
    background-color: rgba(169, 169, 169, 0.288);
    background-attachment: fixed;
    background-size: cover;
    position: relative
}

.bgflor {
    
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    position: 
}

.transparente2 {
    height: 400px;
    width: 250px;
    background-color: rgba(169, 169, 169, 0.288);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.bgcarta {
    
    
    background-image: url(imagens/background002.jpg);
    background-size: 100%;
    position: 
}

footer {
    color: white;
    background-color: black;
    font-size: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}