@charset "UTF-8";

   /*
        SELETORES PERSONALIZADOS
        #   = id
        .   = class
        :   = pseudo-class
        ::  = pseudo-element
        >   = children
        */
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        a {
         color: red;   
         text-decoration: none;
         font-weight: bold;
        }

        a:visited {
            color: darkred;

        }
        a:hover {
            color: black;
            text-decoration: underline;
        }

        a:active {
            color: rgb(255, 116, 116);
        }

        a::before {
            content: '⇒' ;
        }
        a::after {
            content: '⇐';           
        }
        div {
            display: inline-block;
            background-color: lightgray;
            border: 1px solid black;
            text-align: center;
            height: 200px;
            width: 200px;
        }
        div:hover {
            background-color: rgb(250, 90, 90);
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        div > p {
            display: none;
        }


        div:hover > p {
            display: block;
            color: white;
            background-color: red;
            width: 200px;
        }

        div:hover {
            color: rgb(252, 2, 2);
        }