@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right , #DFE6DC,#BFC7B5 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #303628;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1  {
    color: #464F37;
    text-align: center;
    text-shadow: 1px 1 px 2 px black ;
}
h2 {
    color: #9DAB90;
}
p {
    text-align: justify;
}